services:
  web:
    build: .
    container_name: cloudsup
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production 
      - DATABASE_URL=postgresql://admin:admin123@db:5432/cloudsup
    depends_on:
      - db 
    restart: unless-stopped
    volumes:
      - ./static/encodings:/app/static/encodings
      - .:/app
     
    networks:
      - app-network

  db:
    image: postgres:17
    container_name: cloudsup-pgsql
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=cloudsup
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin123
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: